@font-face {
  font-family: manrope;
  src: url(./assets/fonts/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: acme;
  src: url(./assets/fonts/Acme-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: manrope;
}

a {
  text-decoration: none;
  color: black;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
}
nav h1 {
  font-size: clamp(1.5rem, 1.6217vw, 1.85rem);
  font-weight: 700;
  text-transform: uppercase;
}
nav a {
  font-size: 1.4rem;
  margin-right: 20px;
  font-weight: 500;
  font-size: clamp(0.75rem, -0.8755rem + 2.6217vw, 2.5rem);
}
nav span {
  display: inline-block;
  transform: rotate(180deg);
  margin-left: 1rem;
  font-size: clamp(1.5rem, -0.8755rem + 2.6217vw, 2.5rem);
}

.button {
  background-color: #f57059;
  color: white;
  padding: 25px 35px;
  border-radius: 60px;
}

.wrapper {
  padding: 60px 4%;
}

h2 {
  font-family: acme;
  font-size: clamp(1.75rem, -0.8755rem + 2.6217vw, 2.5rem);
}

.managing .wrapper {
  display: flex;
  justify-content: space-between;
}

.right01 {
  flex: 1;
}

.right01 img {
  max-width: 100%;
  height: auto;
}

.left01 {
  flex: 1;
  display: flex;
  flex-direction: column;
  display: inline-block;
  margin-top: 10vh;
}

.left01 h3 {
  font-size: clamp(1.6rem, 4rem, 12rem);
  margin-bottom: 20px;
}

.left01 span {
  font-size: clamp(1.6rem, 1rem, 4rem);
  font-weight: 100;
}

.left01 .button {
  display: inline-block;
  background-color: #057968;
  font-size: clamp(1.75rem, -0.8755rem + 2.6217vw, 2.5rem);
  margin-top: 60px;
  margin-bottom: 70px;
  box-shadow: 0 30px 35px rgba(0, 0, 0, 0.105);
}

.users {
  display: flex;
  gap: 50px;
}

.users h4 {
  font-size: clamp(1.75rem, 2.6217vw, 2.5rem);
}

.users p {
  font-size: 1.8rem;
  font-weight: 100;
  color: #92a2b4;
  margin-top: 2rem;
  line-height: 200%;
  max-width: 400px;
}

.logos .wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.logos img {
  margin: 0 auto 14rem auto;
  padding: 30px;
  max-width: 100%;
}

h5 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

h6 {
  font-size: clamp(1.6rem, 3.5rem, 12rem);
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/img/Vector.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-bottom: 5vh;
}

.parent {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 100%;
  gap: 20px;
}

.services .wrapper {
  width: 100%;
}

.services img {
  background-color: #ececec;
  width: 40px;
  padding: 5%;
}

.parent div {
  border: 1px solid lightgray;
  padding: 50px 10px 50px 40px;
  border-radius: 15px;
  background-color: white;
}

.parent div h4 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.parent div p {
  font-size: 1.2rem;
}

.parent div:nth-last-of-type(1) {
  background-color: #05796b;
  color: white;
}

.process .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process h6 {
  margin-top: 2rem;
  margin-bottom: 20px;
}
.process .wrapper p {
  font-size: 1.8rem;
  font-weight: 100;
}

.steps {
  margin-top: 5vh;
  display: flex;
  position: relative;
  text-align: center;
}

.steps .step-icon {
  width: 70%;

  border-radius: 100%;
  padding: 15%;
}

.person {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.085);
}

.setting {
  border: 1px dashed #939393;
}

.lighting {
  border: 1px dashed #939393;
}

.dashed {
  margin-top: 40%;
}
.steps h4 {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.process .steps p {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.process .steps .step-number {
  background-color: #f6f6f7;
  display: inline-block;
  border-radius: 100%;
  padding: 8px 16px;
  position: absolute;
  top: -40px;
  font-weight: 600;
}

.headline-app {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headline-app p {
  font-size: 1.8rem;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 20px;
}

.headline-app .button {
  font-size: clamp(1.75rem, -0.8755rem + 2.6217vw, 2.5rem);
  margin-top: 20px;
}

.headline-app .button:nth-of-type(2) {
  background-color: #05796b;
}

.headline-app .button img {
  width: 40px;
  height: 25px;
}

.headline-app .button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 30px 35px rgba(0, 0, 0, 0.105);
}

.flex-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.tryforfree .wrapper {
  display: flex;
  justify-content: space-between;
}

.left02 {
  flex: 1;
}

.left02 img {
  max-width: 100%;
  height: auto;
}

.right02 h6 {
  margin-bottom: 20px;
}

.right02 {
  flex: 1;
  display: flex;
  flex-direction: column;
  display: inline-block;
  margin-top: 10vh;
}

.right02 p {
  font-size: clamp(1.6rem, 1rem, 4rem);
  font-weight: 100;
}

.right02 .button {
  display: inline-block;
  background-color: #057968;
  font-size: clamp(1.75rem, -0.8755rem + 2.6217vw, 2.5rem);
  margin-top: 60px;
  margin-bottom: 70px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.105);
}

.headline-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headline-sub h6:nth-of-type(2) {
  margin-bottom: 20px;
}
.headline-sub p {
  font-size: 1.8rem;
  font-weight: 100;
}

.sub-wrapper {
  padding: 10% 15%;
  display: flex;
  gap: 10px;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.basic {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.085);
  padding: 5% 7%;
  flex: 1;
}
.premium {
  background-color: #05796b;
  border-radius: 20px;
  color: white;
  padding: 5% 7%;
  flex: 1;
}

.basic h5 {
  font-size: 1.4rem;
  color: #05796b;
  margin-bottom: 20px;
}
.basic .price h3 {
  font-size: clamp(1.6rem, 4rem, 12rem);
}
.basic .price h5 {
  font-size: clamp(1rem, 1.4rem, 12rem);
  text-transform: none;
}

.basic .price {
  margin-bottom: 30px;
}

.basic p {
  font-size: 1.5rem;
  line-height: 3rem;
}

.basic hr {
  margin-block: 30px;
}

.basic span {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.basic p:nth-of-type(4),
.basic p:nth-of-type(5) {
  color: lightgray;
}

.basic .button {
  font-size: 1.6rem;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  border: 1px solid #d0d0d2;
}

.premium h5 {
  font-size: 1.4rem;

  margin-bottom: 20px;
}
.premium .price h3 {
  font-size: clamp(1.6rem, 4rem, 12rem);
}
.premium .price h5 {
  font-size: clamp(1rem, 1.4rem, 12rem);
  text-transform: none;
}

.premium .price {
  margin-bottom: 30px;
}

.premium p {
  font-size: 1.5rem;
  line-height: 3rem;
}

.premium hr {
  margin-block: 30px;
}

.premium span {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.premium .button {
  font-size: 1.6rem;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
}

.testi-header {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.testi-header p {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  color: #3734a9;
}
.review .wrapper {
  display: flex;
}

.left03 {
  flex: 1;
}

.right03 {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right03 h6 {
  font-size: clamp(1.6rem, 2.5rem, 12rem);
}

.ceo {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.right03 img:nth-of-type(1) {
  width: 31px;
  height: 27px;
}

.right03 img:nth-of-type(2) {
  width: 145px;
  height: 27px;
}
